.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ConnectStatus-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  height: 50px;
  background-color: bisque;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.metamask_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 150px;
  border: 2px solid rebeccapurple;
  cursor: pointer;
}

.metamask_img {
  height: 25px;
  width: 25px;
}

.btn_text {
  padding-left: 10px;
  font-size: large;
}

.input_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px;
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.input_container label {
  margin-left: 10px;
  margin-right: 10px;
}

.input_container button {
  margin-left: 20px;
}
